:root {
  --main-color: #fca311;
  --secondary-color: #14213d;
  --black: #000000;
  --white: #ffffff;
  --header-font: "Bebas Neue", cursive;
  --body-font: "Merriweather Sans", sans-serif;
  --posts-color: #e5e5e5;
}

.is-success {
  border-color: green;
}

.is-error {
  border-color: red;
}

input {
  width: 200px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid var(--black);
  display: flex;
  justify-content: center;
}

textarea {
  width: 200px;
  border-radius: 10px;
  border: 1px solid var(--black);
  display: flex;
  justify-content: center;
}

.form-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-parent-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  background-color: var(--main-color);
  border: none;
  padding: 7px;
  width: 150px;
  border-radius: 20px;
  font-family: var(--body-font);
  font-weight: 900;
  margin-bottom: 20px;
}

label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  input {
    width: 450px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
  }

  textarea {
    width: 450px;
    border-radius: 10px;
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
  }

  .submit-button {
    background-color: var(--main-color);
    border: none;
    padding: 10px;
    width: 350px;
    border-radius: 20px;
    font-family: var(--body-font);
    font-weight: 900;
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  input {
    width: 700px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
  }

  textarea {
    width: 700px;
    border-radius: 15px;
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;
  }

  .submit-button {
    background-color: var(--main-color);
    border: none;
    padding: 10px;
    width: 550px;
    border-radius: 20px;
    font-family: var(--body-font);
    font-weight: 900;
    margin-bottom: 20px;
  }
}
