/*!
 * Variables
 * @tutorial https://web.dev/at-property/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-4/css-variables
 */

:root {
  --main-color: #fca311;
  --secondary-color: #14213D;
  --black: #000000;
  --white: #ffffff;
}
